#login-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#login-container .background {
  width: 768px;
  height: 100vh;
  height: 820px;
  background: #8257E5;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#login-container .backgroundImg {
  max-width: 664px;
  width: 100%;
  height: 558px;
  margin-top: 10rem;

}

#login-container .container-logo {
  width: 334px;
  margin-left: 50px;
  position: absolute;
}

#login-container .container-logo img {
  width: 300px;
  left: 200px;
  top: 280px;
}

#login-container .container-logo img + img {
  max-width: 230px;
}


/* LOGIN */

#login-container .login {
  width: 672px;
  height: 100vh;
  background: #F0F0F7;

  padding: 0 156px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#login-container .login h1 {
  color: #32264D;
  margin-bottom: 40px;
}

#login-container .login form {
  width: 352px;
}

.login form div.forget {
  width: 100%;
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #9C98A6;
  font-size: 14px;
}

.login form div.forget label {
  display: flex;
  align-items: center;
}

.login form div.forget input[type="checkbox"] {
  border-radius: 8px;
  margin-right: 16px;
}

.login form div.forget input[type="checkbox"] {
  --active-inner: #fff;
  --background: #fff;
  --disabled: #F6F8FF;
  --disabled-inner: #E1E6F9;
  width: 24px;
  height: 24px;
  -webkit-appearance: none;
  display: inline-block;
  border: 1px solid var(--bc, var(--color-line-in-white));
  background: var(--b, var(--color-input-background));
}

.login form div.forget input[type="checkbox"]:after {
  content: '';
  display: block;
  left: 0;
  top: 0;
  position: absolute;
}

.login form div.forget input[type="checkbox"]:checked {
  --b: var(--color-secundary);
  --bc: var(--color-secundary);
  --d-o: .3s;
  --d-t: .6s;
  --d-t-e: cubic-bezier(.2, .85, .32, 1.2);

  color: #fff;

}

.login form input.text-login {
  width: 100%;
  padding: 24px;
  border: 1px solid var(--color-line-in-white);
  font-size: 16px;
  color: var(--color-text-complement);
}

.login form input#email {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.login form input#password {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}


.login form button {
  width: 100%;
  height: 56px;
  margin-top: 40px;
  border: 0;
  border-radius: 8px;

  background: var(--color-button-desable-background);
  color: var(--color-text-complement);
  font-weight: bold;
  transition: background 0.2s;
}

.login form button:hover {
  background: var(--color-secundary);
  color: var(--color-button-text);
}

.login div.footerr {
  max-width: 352px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 128px;
}

.login div.footerr strong {
  width: 129px;
  font-size: 16px;
  font-weight: normal;
}

.login div.footerr strong span {
  color: var(--color-primary);
  font-weight: bold;
}

.login div.footerr div.image {
  display: flex;
  align-items: center;
  font-size: 12px;
}

.login div.footerr div.image span {
  color: var(--color-text-complement);
}

.login div.footerr div.image img {
  margin-left: 8px;
}
